@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@keyframes slideInFromtop {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
header {
  font-family: "Noto Sans", sans-serif;
}

#topNav {
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem auto;
}

.social-links {
  width: 10rem;
  min-height: 0.5rem;
  display: flex;
}

.social-links svg {
  width: 2rem !important;
}
.social-links svg path {
  fill: #1a1a1a;
}

.social-links a {
  margin: 0 auto;
  opacity: 0.6;
  -webkit-transition: opacity 600ms ease;
  -moz-transition: opacity 600ms ease;
  -ms-transition: opacity 600ms ease;
  -o-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}

.social-links a:hover {
  opacity: 1;
  -webkit-transition: opacity 600ms ease;
  -moz-transition: opacity 600ms ease;
  -ms-transition: opacity 600ms ease;
  -o-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}

.top-nav-link {
  color: #1a1a1a;
  display: inline-block;
  font-size: 1.25rem;
  margin: 0 1rem;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}

.top-nav-link:hover {
  color: #b48d2e;
  text-decoration: none;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}

.call-now {
  position: absolute;
  background-color: #b48d2e;
  font-size: 1.1rem;
  top: 0px;
  right: 3rem;
  z-index: 3;
  padding: 1rem;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.call-now p {
  color: #ffffff;
  text-align: center;
}
.call-now .phone {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}

#navbarSite {
  position: absolute;
  top: 4rem;
  z-index: 2;
}

.nav-bar-logo {
  width: 10rem;
}

div.navbar-nav a.nav-link {
  color: #1a1a1a !important;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.6;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

div.navbar-nav a.nav-link:hover {
  opacity: 1;
  color: #1a1a1a !important;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.navbar-toggler {
  border: none !important;
}

.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon div,
.nav-icon:after,
.nav-icon:before {
  background-color: #333333;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.nav-icon div:hover,
.nav-icon:after:hover,
.nav-icon:before:hover {
  color: #000;
}

.x.nav-icon:before {
  -webkit-transform: translateY(12px) rotate(135deg);
  -moz-transform: translateY(12px) rotate(135deg);
  -ms-transform: translateY(12px) rotate(135deg);
  -o-transform: translateY(12px) rotate(135deg);
  transform: translateY(12px) rotate(135deg);
}

.x.nav-icon:after {
  -webkit-transform: translateY(-12px) rotate(-135deg);
  -moz-transform: translateY(-12px) rotate(-135deg);
  -ms-transform: translateY(-12px) rotate(-135deg);
  -o-transform: translateY(-12px) rotate(-135deg);
  transform: translateY(-12px) rotate(-135deg);
}

.x.nav-icon div {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  background-color: rgba(20, 20, 20, 0.6) !important;
}
.carousel-indicators li .active {
  color: #141414 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

ol.carousel-indicators {
  z-index: 2 !important;
  bottom: 5rem !important;
}

.search-bar-whitespace {
  z-index: 4;
  background-color: #fff;
  margin-top: 10px;
  position: absolute;
  max-width: 70% !important;
  height: 5rem;
  top: 35rem;
}
.search-bar-whitespace label {
  display: inline-block;
  margin-right: 10px;
}
.search-bar-whitespace Input {
  display: inline-block;
}

form.Search-form {
  width: 50%;
  padding: 0;
  margin: 1.5% 10%;
}

input#search_input {
  border: 2px solid #aaa;
  border-radius: 10px;
  padding: 4px 11px;
  margin-right: 2px;
  width: 11rem;
}

button.button {
  border: 2px solid #b48d2e;
  border-radius: 10px;
  background-color: #b48d2e;
  padding: 4px 20px;
  color: #fff;
}

@media (max-width: 991px) {
  #topNav {
    position: absolute;
    top: 22rem;
  }
  #topNav .social-links {
    display: none;
  }

  #navbarSite {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
  }

  .navbar-nav {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }
  .navbar-nav a {
    margin-left: 4px;
  }

  #featuredImages {
    top: 5.75rem;
  }
}
@media (max-width: 1252px) {
  .call-now {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    z-index: 2;
  }
}

/*# sourceMappingURL=main.css.map */
